.log-in-card{
  margin: 100px auto;
}

body {
background: url(./mountains.jpg);
background-position: center top;
background-size: cover;  
background-repeat: no-repeat;
font-family: 'Fira Sans', sans-serif;
background-color: var(--bs-dark);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.card {
  background-color: #000000a8;
}

.form-label{
  color: #fff;
  font-weight: bold;
}

#root > div > nav > div > a > img {
  width: 50px;
}

#header {
  color: #fff;
}